@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html, 
body
{
	font-family: "IBM Plex Sans", sans-serif;
	scroll-behavior: smooth;
}
.overflow-hidden {
	overflow: hidden;
  }
.header-container {
	max-width: 1530px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.main-container {
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}